# --- Chat Service ---
RTCHAT_APP_HOST=0.0.0.0
RTCHAT_APP_PORT=8001
RTCHAT_APP_MODE=DEV

RTCHAT_DB_HOST=localhost
RTCHAT_DB_PORT=5432
RTCHAT_DB_USER=user
RTCHAT_DB_PWD=pwd
RTCHAT_DB_NAME=database

RTCHAT_REDIS_HOST=localhost
RTCHAT_REDIS_PORT=6379

# --- Users Service ---
USERS_APP_HOST=0.0.0.0
USERS_APP_PORT=8002
USERS_APP_MODE=DEV

USERS_DB_HOST=localhost
USERS_DB_PORT=5432
USERS_DB_USER=user
USERS_DB_PWD=pwd
USERS_DB_NAME=database

USERS_REDIS_HOST=localhost
USERS_REDIS_PORT=6379

# --- Media Service ---
MEDIA_APP_HOST=0.0.0.0
MEDIA_APP_PORT=8000
MEDIA_APP_MODE=DEV

MEDIA_DB_HOST=localhost
MEDIA_DB_PORT=5432
MEDIA_DB_USER=user
MEDIA_DB_PWD=pwd
MEDIA_DB_NAME=database

MEDIA_S3_ACCESSKEY=s3_access_key
MEDIA_S3_SECRETKEY=s3_secret_access_key
MEDIA_S3_ENDPOINTURL=s3_endpoint_url
MEDIA_S3_BUCKETNAME=s3_bucket_name

MEDIA_RABBITMQ_HOST=localhost
MEDIA_RABBITMQ_PORT=5672
MEDIA_RABBITMQ_LOGIN=guest
MEDIA_RABBITMQ_PASSWORD=guest

MEDIA_OUTBOX_ENABLED=True
MEDIA_OUTBOX_POLL_INTERVAL=1.0