MEDIA_APP_HOST=0.0.0.0
MEDIA_APP_PORT=8000
MEDIA_APP_MODE=DEV

MEDIA_DB_HOST=localhost
MEDIA_DB_PORT=5432
MEDIA_DB_USER=user
MEDIA_DB_PWD=pwd
MEDIA_DB_NAME=database

MEDIA_S3_ACCESSKEY=s3_access_key
MEDIA_S3_SECRETKEY=s3_secret_access_key
MEDIA_S3_ENDPOINTURL=s3_endpoint_url
MEDIA_S3_BUCKETNAME=s3_bucket_name

MEDIA_RABBITMQ_HOST=localhost
MEDIA_RABBITMQ_PORT=5672
MEDIA_RABBITMQ_LOGIN=guest
MEDIA_RABBITMQ_PASSWORD=guest

MEDIA_OUTBOX_ENABLED=True
MEDIA_OUTBOX_POLL_INTERVAL=1.0